.front-image {
  background-image: url("eastside.jpg");
  background-image: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  padding: 150px 15px;
  margin-bottom: 30px;
  color: inherit;
  border-radius: 5px;
}
.icon-1 {
  background-image: url("http://fillmurray.com/200/300");
  background-image: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
}

.icon-2 {
  background-image: url("http://fillmurray.com/200/300");
  background-image: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
}
.icon-3 {
  background-image: url("http://fillmurray.com/200/300");
  background-image: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
}
.icon-4 {
  background-image: url("http://fillmurray.com/200/300");
  background-image: no-repeat;
  background-size: cover;
  height: auto;
  width: 300px;
}