<a href="/newmember">Create a new member</a>

<ul>
	<% @members.each do |member|%>
		<li><a href="/member/<%= member.id %>"><%= member.name %></a></li>
		<br>
		<li><%= member.email %></li>
		<br>
		<li><%= member.number %></li>
		<br>
	<% end %>
</ul>
